<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    <style>
        .container {
            max-width: 500px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            font-family: Arial;
        }

        .otp {
            font-size: 32px;
            letter-spacing: 6px;
            font-weight: bold;
            color: #e74c3c;
            text-align: center;
            margin: 20px 0;
        }
    </style>
</head>

<body style="background:#f6f6f6;padding:20px;">

<div class="container">

    <h1 style="color:#e74c3c;">Forgot Password</h1>


    <p>We received a request to reset your password for:</p>

    <p th:text="${email}">email@example.com</p>

    <p><b>Your OTP is:</b></p>

    <div class="otp" th:text="${otp}">123456</div>

    <p>This OTP is valid for <b>15 minutes</b>.</p>

    <p style="color:red;">
        If you didn’t request this, ignore this email.
    </p>

    <br>
    <p>Thanks,<br><b>NeoCare Team</b></p>

</div>

</body>
</html>